#editor {
    height: 600px;
    border: 1px solid gray;
    margin: 0;
}
#permalink {
    color: black;
    border-radius: 10px;
    text-decoration: none;
}
#pflow-canvas {
    float: right;
    border: 1px solid gray;
    max-width: 100%;
}
.pflow-link {
    color: #8bb4ccff;
    text-decoration: none;
}
#term {
    min-height: 280px;
    padding: 10px;
    margin: 0;
}
.btn {
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
    margin-left: 3px;
}
#github-button {
    border: 1px solid gray;
    border-radius: 20px;
    float: right;
    margin-top: 5px;
}
#github-stars {
    float: right;
    margin-top: 12px;
}
#cdn-stats {
    float: right;
    margin-top: 5px;
}

 .tooltip {
     position: relative;
     display: inline-block;
 }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}